

/* poppins font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.poppins {
font-family: "Poppins", sans-serif;
}

.roboto {
font-family: "Roboto", sans-serif;
}

.inter {
font-family: "Inter", sans-serif;
}



* {
    margin:0 auto;
    padding: 0;
    box-sizing: border-box; 
}

.container {
    max-width: 1293px;
    margin: 0 auto;
    
}
.sm-container {
    max-width: 1128px;
    margin: 0 auto;
}  

.small-container {
    max-width: 904px;
    margin: 0 auto;
}
h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
}

.logo-text {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 22.5;
}

.common-btn {
    font-family: "Inter", sans-serif;
    font-weight: 600;
}




nav > a {
    font-family: "Inter", sans-serif;
    font-weight: 500;
  
}

.sec-1-text-2 {
    font-family: 'Roboto';

}


p.sec-1-text-1 {
    background-color: rgba(255, 255, 255, 0.15);
    color: rgba(255, 255, 255, 1);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    font-family: 'Roboto';
    width: fit-content;
}

p.sec-1-text-3 {
    font-family: 'Roboto';
    
}

p.sec-1-text-4 {
    font-family: 'Roboto';
    
}


h3 {
    font-family: 'Roboto';font-weight: 700;font-size: 36px;line-height: 33px;color: rgba(37, 37, 37, 1);}

.right-form-section > p {
        font-family: 'Roboto';font-weight: 400;font-size: 18px;line-height: 33px;color:rgba(37, 37, 37, 0.7);}
    





